html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  /* font-size: 13px; */
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.wrapper__all {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.block {
  margin-bottom: 15px;
}

.experience-block {
  margin-bottom: 25px;
}

.p-block {
  padding-left: 20px;
}

.wrapper__left {
  font-size: 15px;
  width: 45%;
  background-color: rgb(30, 26, 46);
  color: #fff;
  padding: 10px;
}

.photo {
  width: 100%;
  margin-bottom: 10px;
}

.telegram_logo,
.github-logo,
.linkedin-logo,
.email-logo {
  width: 20px;
}

.contacts-item {
  margin-bottom: 5px;
}

.contact-link {
  color: #fff;
}

.proj-link {
  display: block;
}

.wrapper__right {
  width: 55%;

  /* font-size: 15px; */
  padding: 20px;
}

.main-title {
  margin-bottom: 25px;
}

.name {
  margin-bottom: 25px;
}

.objective-title,
.experience-title {
  margin-bottom: 5px;
}

.experience-item {
  margin-bottom: 5px;
}

.skills {
  margin-top: 0;
}

.projects-item {
  margin-bottom: 2px;
}

.projects-item a {
  display: inline-block;
  margin-bottom: 2px;
  font-weight: 500;
}

.proj-descr {
  font-size: 13px;
}

.descr-title {
  font-weight: 500;
}
